@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

h1 {
    color: #33a8db;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    background: linear-gradient(180deg, #33a8bd 0%, #1472b7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

h2 {
    color: #33a8db;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6.08px;
    text-transform: uppercase;
}

body {
    background-color: black;
  }

.banner {  /* . chama a class */
    height: 605px;
    align-items: center;
    border-bottom: .5px solid #33a8db;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png')
}

.banner .banner-content {
    padding-top: 56px;
    text-align: center;
    margin: auto;
    width: 560px;
}

.banner .logo {
    background-color: rgba(0, 0, 0, 0.200);
    border-radius: 50%;
    width: 268px;
    height: 268px;
    margin: auto;
    padding: 27px 10px; /* primeiro valor do vertical depois horizontal */
}

.banner h1 {
    margin: 16px 0 16px;
}

.banner p {
    font-size: 20px;
    margin-bottom: 24px;
}

.banner button {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3.36px;
    padding: 19px 91px;
    color: #31a8dd;
    background-color: transparent;
    border-image: linear-gradient(#3ba1cd,#1572b7);
    border-image-slice: 1;
}







#course-content { /* # chama o id */
    padding: 120px;
    text-align: center;
    margin: auto;
}

#course-content p {
    padding: 24px 0 24px;
    width: 860px;
    margin: auto;
}

#course-content .modules-list .module span {
    color: #33a8db;
}

#course-content .modules-list .module {
    
    margin: 24px auto;
    width: 540px;
    padding: 16px;
    border-radius: 58px;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: inset -2px 6px 4px 0px rgba(0, 0, 0, .40);
    color: white;
}







#transform-world {
    height: 360px;
    background: url(../images/woman-code.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 110px 200px
}

#transform-world p {
    
    font-size: 40px;
    text-shadow: 3px 2px 0px #33a8db;
    font-weight: 900;
    text-transform: lowercase;
    width: 244px;
    height: 140px;
    text-align: start;
    
}







#professional-challenges {
    text-align: center;
    padding: 80px;
}

#professional-challenges h2 {
    width: 760px;
    margin: auto;
}

#professional-challenges img {
    margin: 32px 0;
}

#professional-challenges p {
    width: 800px;
    margin: auto;
    padding-top: 40px;
}






footer {
    padding: 60px;
    border-top: .5px solid #33a8db;
    background: linear-gradient(180deg, rgba(51, 168, 219, 0.00) 0%, rgba(51, 168, 219, 0.20) 100%);
    margin: auto;
    height: 180px;
    text-align: center;
}

footer img {
}

footer p {
    font-size: 16px;
    font-weight: 700;

}

footer a {
    font-size: 16px;
    font-weight: 700;
    color: #33a7db;
    text-decoration: none;
}